
$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';


@import 'bootstrap/scss/bootstrap';

body{
	height: 100vh;
	overflow: hidden;
}

@media screen and (max-width:768px){
	body{
		height: 200vh;
		font-size: 0.7rem;
	}
}